# More Basics of Pandas

Last session we introduced Pandas quickly. Now we review the basics of using Pandas, with a more interactive workflow to solidify understanding and facility with this powerful Python toolkit.

## Reviewing Pandas Basics

In [46]:
from pandas import DataFrame
import pandas as pd

In [47]:
import pandas as pd
df = pd.read_csv('ca_tracts_pop_cleaned.csv')

### Basics of indexing in Pandas

The first use of indexing is to use a slice, just like we have done with other Python objects. Below we slice the first 5 index values of the first dimension of the dataframe.

In [48]:
df[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517

The first indexing method is equivalent to usinf the iloc indexing method, which uses the integer based indexing, purely based on the location of the index.

In [49]:
df.iloc[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517

A second way to index is using loc, which uses the labels of the index. Note that this approach includes the second value, whereas iloc does not.

In [50]:
df.loc[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517
5,1,Total population,1400000US06001400600,6001400600,"Census Tract 4006, Alameda County, California",1571

Note that indexing can work for both rows and colums

In [51]:
df.loc[:5, : 'GEOID']

   POPGROUP             label             GEOIDLONG       GEOID
0         1  Total population  1400000US06001400100  6001400100
1         1  Total population  1400000US06001400200  6001400200
2         1  Total population  1400000US06001400300  6001400300
3         1  Total population  1400000US06001400400  6001400400
4         1  Total population  1400000US06001400500  6001400500
5         1  Total population  1400000US06001400600  6001400600

In [52]:
df.iloc[:5, :4]

   POPGROUP             label             GEOIDLONG       GEOID
0         1  Total population  1400000US06001400100  6001400100
1         1  Total population  1400000US06001400200  6001400200
2         1  Total population  1400000US06001400300  6001400300
3         1  Total population  1400000US06001400400  6001400400
4         1  Total population  1400000US06001400500  6001400500

We can select rows based on their value as well.  Notice that we nest df[df[condition]] to get this result.

In [53]:
df[df['Population'] < 200]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",133
2729,1,Total population,1400000US06037532400,6037532400,"Census Tract 5324, Los Angeles County, California",112
3051,1,Total population,1400000US06037574700,6037574700,"Census Tract 5747, Los Angeles County, California",117
3473,1,Total population,1400000US06037930101,6037930101,"Census Tract 9301.01, Los Angeles County, Cali...",119
3477,1,Total population,1400000US06037980004,6037980004,"Census Tract 9800.04, Los Angeles County, Cali...",169
3478,1,Total population,1400000US06037980008,6037980008,"Census Tract 9800.08, Los Angeles County, Cali...",145
3479,1,Total population,1400000US06037980010,6037980010,"Census Tract 9800.10, Los Angeles County, Cali...",164
3482,1,Total population,1400000US06037980019,6037980019,"Census Tract 9800.19, Los Angeles County, Cali...",173
3483,1,Total population,1400000US06037980024,6037980024,"Census Tract 9800.24, Los Angeles County, Cali...",186
4906,1,Total population,1400000US06065940100,6065940100,"Census Tract 9401, Riverside County, California",166
5719,1,Total population,1400000US06073005500,6073005500,"Census Tract 55, San Diego County, California",198
5726,1,Total population,1400000US06073006200,6073006200,"Census Tract 62, San Diego County, California",144
6433,1,Total population,1400000US06075980300,6075980300,"Census Tract 9803, San Francisco County, Calif...",171

In [54]:
df[df['GEOID']==6017031900]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",133

Here we show how to set a value of a cell in the table, identifying a specific row by index label, and setting its population.

In [55]:
df.loc[688,'Population'] = 134
df.loc[688]

POPGROUP                                                   1
label                                       Total population
GEOIDLONG                               1400000US06017031900
GEOID                                             6017031900
geodisplay    Census Tract 319, El Dorado County, California
Population                                               134
Name: 688, dtype: object

Here we find and print records that are in El Dorado County, using the str attribute and 'contains' to search for the county name in geodisplay.

In [56]:
df[df['geodisplay'].str.contains('El Dorado County')]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
648,1,Total population,1400000US06017030200,6017030200,"Census Tract 302, El Dorado County, California",4773
649,1,Total population,1400000US06017030301,6017030301,"Census Tract 303.01, El Dorado County, California",2469
650,1,Total population,1400000US06017030302,6017030302,"Census Tract 303.02, El Dorado County, California",2867
651,1,Total population,1400000US06017030401,6017030401,"Census Tract 304.01, El Dorado County, California",3498
652,1,Total population,1400000US06017030402,6017030402,"Census Tract 304.02, El Dorado County, California",3723
653,1,Total population,1400000US06017030502,6017030502,"Census Tract 305.02, El Dorado County, California",2641
654,1,Total population,1400000US06017030504,6017030504,"Census Tract 305.04, El Dorado County, California",2912
655,1,Total population,1400000US06017030505,6017030505,"Census Tract 305.05, El Dorado County, California",2704
656,1,Total population,1400000US06017030601,6017030601,"Census Tract 306.01, El Dorado County, California",5044
657,1,Total population,1400000US06017030602,6017030602,"Census Tract 306.02, El Dorado County, California",6781
658,1,Total population,1400000US06017030603,6017030603,"Census Tract 306.03, El Dorado County, California",3566
659,1,Total population,1400000US06017030701,6017030701,"Census Tract 307.01, El Dorado County, California",6205
660,1,Total population,1400000US06017030704,6017030704,"Census Tract 307.04, El Dorado County, California",5961
661,1,Total population,1400000US06017030706,6017030706,"Census Tract 307.06, El Dorado County, California",6020
662,1,Total population,1400000US06017030709,6017030709,"Census Tract 307.09, El Dorado County, California",4806
663,1,Total population,1400000US06017030710,6017030710,"Census Tract 307.10, El Dorado County, California",4989
664,1,Total population,1400000US06017030801,6017030801,"Census Tract 308.01, El Dorado County, California",4011
665,1,Total population,1400000US06017030803,6017030803,"Census Tract 308.03, El Dorado County, California",7241
666,1,Total population,1400000US06017030804,6017030804,"Census Tract 308.04, El Dorado County, California",6377
667,1,Total population,1400000US06017030807,6017030807,"Census Tract 308.07, El Dorado County, California",3986
668,1,Total population,1400000US06017030808,6017030808,"Census Tract 308.08, El Dorado County, California",6897
669,1,Total population,1400000US06017030809,6017030809,"Census Tract 308.09, El Dorado County, California",2447
670,1,Total population,1400000US06017030810,6017030810,"Census Tract 308.10, El Dorado County, California",3437
671,1,Total population,1400000US06017030901,6017030901,"Census Tract 309.01, El Dorado County, California",3020
672,1,Total population,1400000US06017030902,6017030902,"Census Tract 309.02, El Dorado County, California",4687
673,1,Total population,1400000US06017031000,6017031000,"Census Tract 310, El Dorado County, California",6061
674,1,Total population,1400000US06017031100,6017031100,"Census Tract 311, El Dorado County, California",5462
675,1,Total population,1400000US06017031200,6017031200,"Census Tract 312, El Dorado County, California",5193
676,1,Total population,1400000US06017031301,6017031301,"Census Tract 313.01, El Dorado County, California",3408
677,1,Total population,1400000US06017031302,6017031302,"Census Tract 313.02, El Dorado County, California",4701
678,1,Total population,1400000US06017031402,6017031402,"Census Tract 314.02, El Dorado County, California",5896
679,1,Total population,1400000US06017031404,6017031404,"Census Tract 314.04, El Dorado County, California",2407
680,1,Total population,1400000US06017031405,6017031405,"Census Tract 314.05, El Dorado County, California",2426
681,1,Total population,1400000US06017031406,6017031406,"Census Tract 314.06, El Dorado County, California",5544
682,1,Total population,1400000US06017031502,6017031502,"Census Tract 315.02, El Dorado County, California",6031
683,1,Total population,1400000US06017031503,6017031503,"Census Tract 315.03, El Dorado County, California",2810
684,1,Total population,1400000US06017031504,6017031504,"Census Tract 315.04, El Dorado County, California",5337
685,1,Total population,1400000US06017031600,6017031600,"Census Tract 316, El Dorado County, California",4126
686,1,Total population,1400000US06017031700,6017031700,"Census Tract 317, El Dorado County, California",2648
687,1,Total population,1400000US06017031800,6017031800,"Census Tract 318, El Dorado County, California",6798
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",134
689,1,Total population,1400000US06017032000,6017032000,"Census Tract 320, El Dorado County, California",1015

We can find the unique values of a column (not very interesting in this particular case)

In [57]:
df['POPGROUP'].unique()

array([1])

And count how many times each unique value is in the data

In [58]:
df['POPGROUP'].value_counts()

1    8000
Name: POPGROUP, dtype: int64

We saw last time how to use the str attribute to do string manipulation, such as to create a new column.  We need to explore some more advanced string processing, but let's use a smaller dataframe for that.

In [59]:
df['state'] = df['geodisplay'].str.split(',').str[2]
df[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population,state
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937,California
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974,California
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865,California
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703,California
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517,California

## Working with Pandas -- an in-class working session

OK, let's create a DataFrame from a dictionary, following the example on pg 116 of Python for Data Analysis (PDA).

In [73]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

Explain the contents and structure of 'data'

What does 'DataFrame(data)' do? What if we did not begin that line with 'df ='?

Look at the contents of df, using just df by itself, and 'print df'.

In [74]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

We can refer to a column in two ways:

In [75]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [76]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

We can step through the rows in a dataframe

In [79]:
for label in df.state.index:
    print(df.state[label])

Ohio
Ohio
Ohio
Nevada
Nevada

And find the index value within each entry of a specific substring

In [80]:
for label in df.state.index:
    print(df.state[label].find('io'))

2
2
2
-1
-1

In [82]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        print('Missing')

Ohio
Ohio
Ohio
Missing
Missing

### More complex use of Indexing and String Manipulation -- Cleaning the Bedroom Field in the Craigslist data

In [70]:
import re as re, pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
cl.head()

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,/ 1br - 950ft² -,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,/ 1br - 950ft² -,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,/ 1br - 710ft² -,4046761563,NaN,Sep 4 2013,/sfc/apa/4046761563.html,NaN,/ 1br - 710ft² -,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,/ 1br - 644ft² -,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,/ 1br - 644ft² -,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,/ 2br - 1450ft² -,4036170429,NaN,Sep 4 2013,/sfc/apa/4036170429.html,NaN,/ 2br - 1450ft² -,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,/ 2br -,4046732678,NaN,Sep 4 2013,/sfc/apa/4046732678.html,NaN,/ 2br -,http://sfbay.craigslist.org/sfc/apa/

This is a worked part of your assignment for this week.  Here is a code snippet that uses some of what we just learned above, and extends it to clean the bedroom field in this data.  Adapting it to clean sqft remains for you to do in the assignment...

In [72]:
for label in cl.bedrooms.index:
    if isinstance(cl.bedrooms[label], str) and not pd.isnull(cl.bedrooms[label]):
        end = cl.bedrooms[label].find('br')
        if end == -1:
            cl.loc[label,'bedrooms'] = np.nan
        else:
            start = cl.bedrooms[label].find('/ ') + 2
            cl.loc[label,'bedrooms'] = int(cl.bedrooms[label][start: end])
cl.bedrooms.head(9)

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

## Now Your Turn

Below are a series of questions, with the answers remaining for you to fill in by using pandas expressions that draw on the methods in Chapter 5.  You should not need to use anything more than the content of this chapter -- a subset of the methods summarized above, to do this exercise.  Hopefully you can complete it within class if you've been keeping up with the reading.

How can we get a quick statistical profile of all the numeric columns?

In [ ]:
df.describe()

Can you get a profile of a column that is not numeric, like state? Try it.

In [ ]:
df['state'].describe()

How can we print the data types of each column?

In [ ]:
df.dtypes

How can we print just the column containing state names?

In [ ]:
df['state']

How can we get a list of the states in the DataFrame, without duplicates?

In [ ]:
df['state'].unique()

How can we get a count of how many rows we have in each state?

In [ ]:
df['state'].value_counts()

How can we compute the mean of population across all the rows?

In [ ]:
df['pop'].mean()

How can we compute the maximum population across all the rows?

In [ ]:
df['pop'].max()

How can we compute the 20th percentile value of population?

In [ ]:
df['pop'].quantile(.2)

How can we compute a Boolean array indicating whether the state is 'Ohio'?

In [ ]:
df['state']=='Ohio'

How can we select and print just the rows for Ohio?

In [ ]:
df[df['state']=='Ohio']

How can we create a new DataFrame containing only the Ohio records?

In [ ]:
dfnew = df[df['state']=='Ohio']
dfnew

How can we select and print just the rows in which population is more than 2?

In [ ]:
df[df['pop']>2]

How could we compute the mean of population that is in Ohio, averaging across years?

In [ ]:
df[df['state']=='Ohio']['pop'].mean()

How can we print the DataFrame, sorted by State and within State, by Population?

In [ ]:
df.sort_values(by=['state','pop'])

How can we print the row for Ohio, 2002, selecting on its values (not on row and column indexes)?

In [ ]:
df[df['state']=='Ohio'][df['year']==2002]

How can we use row and column indexing to set the population of Ohio in 2002 to 3.4?

In [ ]:
df.loc[2, 'pop'] = 3.6
df

How can we use row and column indexing to append a new record for Utah, initially with no population or year?

In [ ]:
df.loc[5, 'state'] = 'Utah'
df

How can we set the population to 2.5 and year to 2001 for the new record?

In [ ]:
df.loc[5, 'pop'] = 2.5
df.loc[5, 'year'] = 2001
df